.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.md-grid-vertical .mbsc-row {
  margin: 2em 0;
  height: 6.4em;
  padding: 20px;
  background: rgba(188, 141, 224, 0.58);
  border-radius: 20px;
}