<ion-content>
        <ion-grid  class="md-grid-vertical">
            <ion-row class="mbsc-row">
                <ion-col size="3" class="mbsc-col">
                    <ion-fab-button>
                        <ion-icon name="md-barcode"></ion-icon>
                    </ion-fab-button>
                    <p>Barcode</p>
                </ion-col >
                <ion-col size="3" class="mbsc-col">
                    <ion-fab-button>
                        <ion-icon name="md-alarm"></ion-icon>
                    </ion-fab-button>
                    <p>Alarm</p>                 
                </ion-col>
                <ion-col size="3" class="mbsc-col">
                    <ion-fab-button>
                        <ion-icon name="md-timer"></ion-icon>
                    </ion-fab-button>
                    <p>Timer</p>                  
                </ion-col>
                <ion-col size="3" class="mbsc-col">
                    <ion-fab-button >
                        <ion-icon name="md-download"></ion-icon>
                    </ion-fab-button>
                    <p>Download</p>
                </ion-col>
            </ion-row>
            <ion-row class="mbsc-row">
                    <ion-col size="3" class="mbsc-col">
                        <ion-fab-button>
                            <ion-icon name="md-american-football"></ion-icon>
                        </ion-fab-button>
                        <p>Games</p>
                    </ion-col>
                    <ion-col size="3" class="mbsc-col">
                        <ion-fab-button>
                            <ion-icon name="md-analytics"></ion-icon>
                        </ion-fab-button>
                        <p>Analyzer</p>                 
                    </ion-col>
                    <ion-col size="3" class="mbsc-col">
                        <ion-fab-button>
                            <ion-icon name="md-battery-charging"></ion-icon>
                        </ion-fab-button>
                        <p>Battery</p>                  
                    </ion-col>
                    <ion-col size="3" class="mbsc-col">
                        <ion-fab-button >
                            <ion-icon name="md-beer"></ion-icon>
                        </ion-fab-button>
                        <p>Coffee</p>
                    </ion-col>
                </ion-row>
                <ion-row class="mbsc-row">
                        <ion-col size="3" class="mbsc-col">
                            <ion-fab-button>
                                <ion-icon name="md-bicycle"></ion-icon>
                            </ion-fab-button>
                            <p>Bicycle</p>
                        </ion-col>
                        <ion-col size="3" class="mbsc-col">
                            <ion-fab-button>
                                <ion-icon name="md-bluetooth"></ion-icon>
                            </ion-fab-button>
                            <p>Bluetooth</p>                 
                        </ion-col>
                        <ion-col size="3" class="mbsc-col">
                            <ion-fab-button>
                                <ion-icon name="md-bug"></ion-icon>
                            </ion-fab-button>
                            <p>Bug</p>                  
                        </ion-col>
                        <ion-col size="3" class="mbsc-col">
                            <ion-fab-button >
                                <ion-icon name="md-calendar"></ion-icon>
                            </ion-fab-button>
                            <p>Calendar</p>
                        </ion-col>
                    </ion-row>
        </ion-grid>
</ion-content>